@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:ght@100&display=swap');

.card {
    border: #bad0c7 solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    margin: 5px;
    padding: 2px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #966d7c;
    font-size: 20px;
    text-align: center;

}

.fotoProducto {
    width: 360px;
    padding: 7px;
    height: 270px;
}
.vistaDetalle {
    border: #bad0c7 solid 2px;
    display: flex;
    margin: 5px;
    padding: 2px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #966d7c;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.datosDetalle {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}