@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:ght@100&display=swap');
.cabecera {
    background-color: #bad0c7;
    padding: 1vh;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #966d7c;
    font-size: 27px;
}

.barraNav {
    display: flex;
    justify-content: flex-start;
    flex-direction:  row;
    list-style: none;
    padding-left: 25px;
    text-decoration: none;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    background-color: #bad0c7;
    color: black;
}

ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 10px;
}


.elCarrito {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:#966d7c;
}

    
